
Thank you for the bug report!

Please note that Plasma <%= report %> is not supported for much longer by KDE; supported versions are <%= plasma_lts.join(', ') %>, and <%= plasma %> or newer.

If at all possible please upgrade to a supported version and verify that the bug is still happening there.
