
Thank you for the bug report!

However Plasma <%= report %> is no longer supported by KDE; supported versions are <%= plasma_lts.join(', ') %>, and <%= plasma %> or newer.
Your distribution is responsible for providing support for older versions of KDE software.

Please do one of the following:
- Upgrade to a supported version and see if the issue is still relevant
- Report the issue to your distribution
